.site-header {
  padding-top: 45px;
  padding-bottom: 85px;
  background-image: url('../../img/bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--violet);
  border-bottom-left-radius: 100px;
  position: relative;
}
.site-header__warapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.site-header__logo {
  display: block;
}
.site-header__logo-img {
  width: 115px;
  height: 32px;
  display: block;
}
.site-header__btn {
  text-decoration: none;
  display: inline-block;
  padding: 15px 36px;
  border-radius: 5px;
  background-color: var(--white);
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  color: var(--violet);
  margin-left: auto;
  margin-right: 30px;
  
  &:hover {
    background-color: var(--light-violet);
    color: var(--white);
  } 
  
}
.site-header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  max-width: 1110px;
  width: 100%;
  transform: translateY(44px);
  background-color: var(--white);
  border-radius: 6px;
}
.site-header__nav-form {
}
.nav-form {
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav-form__input {
  border: none;
  width: 100%;
  border-bottom: 1px solid var(--dark-gray);
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  &:focus {
    border-top: 1px solid var(--dark-gray);
  }
  &:hover {
    background-color: var(--light-gray);
  }
}
.nav-form__select {
  border: none;
  width: 100%;
  border-bottom: 1px solid var(--dark-gray);
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  color: #757575FF;
  &:focus {
    border-top: 1px solid var(--dark-gray);
  }
  &:hover {
    background-color: var(--light-gray);
  }
}
.nav-form__btn {
  padding: 0;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: var(--white);
  background-color: var(--violet);
  padding: 16px 36px;
  border-radius: 5px;
  &:hover {
    background-color: var(--light-violet);
    color: var(--white);
  }
}